In [11]:
a = 30.1
type(a)

float

String START

In [12]:
len('I am')

4

In [13]:
myString = 'Hello World'
myString[-2]

'l'

In [14]:
myString = 'ABCDEFGHIJK'
myString[2:6]

'CDEF'

In [15]:
myString = 'ABCDEFGHIJK'
myString[::2]

'ACEGIK'

In [16]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [17]:
name = "Sam"
#name[0] = 'P', string is immutable in Py
lastLetters = name[1:]
'P' + lastLetters

'Pam'

LIST START

In [18]:
x = 'Hello World'
x = x.upper()
x.split('L')

['HE', '', 'O WOR', 'D']

In [19]:
decimal = 12.475849
print(f'Hello, {decimal:1.3f}!')

Hello, 12.476!

In [20]:
myList = ['STRING',100,21.12]
myList[1:]
myList[0] = 'ONE IN ALL CAPS' #immutable
myList.append(04.12)
myList.append(07.02)
poppedItem = myList.pop(3)
print(poppedItem)
myList

4.12

['ONE IN ALL CAPS', 100, 21.12, 7.02]

In [21]:
new_list = ['a','d','c','b','f','e']
new_list.sort()
new_list.reverse()
new_list

['f', 'e', 'd', 'c', 'b', 'a']

DICTIONARY START

In [22]:
myDict = {'key1':123,'key2':[1,2,3],'key3':{'insideKey':100}}
myDict['key3']['insideKey']

100

In [23]:
d={'key1':['a','b','c']}
d['key1'][2].upper()

'C'

In [24]:
d = {'k1':50,'k2':200}
d['k3'] = 300
d['k1'] = 100
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [25]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [26]:
d.values()

dict_values([100, 200, 300])

In [27]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

TUPLES START

In [28]:
t=('one','one',3)
t.count('one') #tuples only have two methods

2

In [29]:
t.index(3)
# t[0] = 'NEW', tuples are immutable

2

SET START

In [30]:
myset = set()
myset.add(1)
myset

{1}

In [31]:
myset.add(2)
myset

{1, 2}

In [32]:
myList = [1,2,3,4,5,4,3,2,1]
set(myList) #sets are unique values

{1, 2, 3, 4, 5}

BOOLEAN START

In [33]:
type(False)

bool

In [34]:
1>2
b = None

FILE MANAGING

In [35]:
%%writefile myFile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myFile.txt

In [36]:
myFile = open('myFile.txt')
myFile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [37]:
myFile.seek(0) #seek is necessary to move the cursor back to start
myFile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [38]:
with open('myFile.txt',mode='r')as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line

In [39]:
with open('myFile.txt',mode='a')as f:
    f.write('this is the fourth line')

In [40]:
with open('myFile.txt',mode='r')as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line
this is the fourth line

COMPARISON OPERATORS

In [41]:
1 < 2 and 2 < 3

True

In [42]:
1 == 1 or 2 == 3

True

In [43]:
not 1 == 1

False

IF_ELSE START

In [44]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much')

I do not know much

FOR LOOP START

In [45]:
myList = [1,2,3,4,5,6,7,8,9,10]

for num in myList:
    if(num % 2 == 0):
        print(num)
    else:
        print(f"Odd number = {num}")

Odd number = 1
2
Odd number = 3
4
Odd number = 5
6
Odd number = 7
8
Odd number = 9
10

In [46]:
list_sum = 0
for num in myList:
    list_sum = list_sum + num
print(list_sum)

55

In [47]:
for letter in 'Hello World':
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [48]:
myList1 = [(1,2),(3,4),(5,6),(7,8)]
len(myList1)

4

In [49]:
for (a,b) in myList1:
    print (a)

1
3
5
7

In [50]:
for item in myList1:
    print (item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [51]:
dic = {'k1':1,'k2':2,'k3':3}
for value in dic:
    print(value)

k1
k2
k3

In [52]:
for value in dic.items():
    print(value)

('k1', 1)
('k2', 2)
('k3', 3)

In [53]:
for key,value in dic.items():
    print(value)

1
2
3

WHILE LOOP START

In [54]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

break: Breaks out of the current enclosing loop

continue: Goes to the top of the current enclosing loop

pass: Does nothing at all but is used as a placeholder because loops cannot be empty

USEFUL OPERATORS

In [55]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [56]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [57]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\t')

0
a

1
b

2
c

3
d

4
e

In [58]:
myList1= [1,2,3,4,5,6]
myList2= ['a','b','c']

In [59]:
for item in zip(myList1,myList2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [60]:
list(zip(myList1,myList2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [61]:
'x' in ['x','y','z']

True

In [62]:
'a' in 'a word'

True

In [63]:
'mykey' in {'mykey': 1}

True

In [64]:
d = {'mykey': 1}
1 in d.values()

True

In [65]:
myList = [10,20,30,40,100]
min(myList)

10

In [66]:
max(myList)

100

In [67]:
from random import shuffle
shuffle(myList)
myList

[10, 20, 40, 100, 30]

In [68]:
from random import randint
randint(0,100)

92

In [69]:
result = input('Enter a number here: ')
result

''

In [70]:
type(result)

str

In [71]:
result = int(input('Enter a number here: '))
result

5

In [72]:
type(result)

int

LIST COMPREHENSIONS

In [73]:
myString = 'hello'
myList = []
for letter in myString:
    myList.append(letter)
myList

['h', 'e', 'l', 'l', 'o']

In [74]:
myList = [letter for letter in myString]
myList

['h', 'e', 'l', 'l', 'o']

In [75]:
myList = [num**2 for num in range(0,11) if num%2==0]
myList

[0, 4, 16, 36, 64, 100]

In [76]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [77]:
myList = [x*y for x in [2,4,6] for y in [1,10,100]]
myList

[2, 20, 200, 4, 40, 400, 6, 60, 600]

FUNCTIONS START

In [78]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [79]:
say_hello('Jose')

Hello Jose

In [80]:
def add_num(num1,num2):
    return num1+num2

In [81]:
result = add_num(10,20)
result

30

In [82]:
def even_check_list(num_list):
    even_numbers = []   
    for num in num_list:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [83]:
even_check_list([1,2,3])

[2]

In [89]:
work_hours = [('Abby',200),('Billy',400),('Cassie',500)]

def employee_check(work_hours):
    current_max = 0
    employee_of_the_month = ''
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_the_month = employee
        else:
            pass
    return (employee_of_the_month,current_max)

In [90]:
result = employee_check(work_hours)
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [91]:
result

('Cassie', 500)

In [92]:
name

'Sam'

In [93]:
hours

NameError: name 'hours' is not defined

FUNCTION INTERACTIONS

In [94]:
from random import shuffle
def shuffle_list(myList):
    shuffle(myList)
    return myList

In [95]:
myList = [' ','O',' ']
result = shuffle_list(myList)
result

[' ', 'O', ' ']

In [96]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("Pick a number b/w: 0, 1 or 2 ")
    return int(guess)

In [97]:
def check_guess (myList,guess):
    if myList[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(myList)

In [98]:
#INTIAL LIST
myList = [' ','O',' ']

#SHUFFLE LIST
mixed_list = shuffle_list(myList)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixed_list,guess)

Wrong guess!
[' ', 'O', ' ']

**args & **kwargs START

In [99]:
def my_func(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [101]:
my_func(40,60,100,100,3,4)

TypeError: my_func() takes from 2 to 5 positional arguments but 6 were given

In [102]:
def my_func(*args):
    print(args)
    return sum(args) * 0.05

In [103]:
my_func(40,60,100,4,5,6)

(40, 60, 100, 4, 5, 6)

10.75

In [104]:
def my_func(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [105]:
my_func(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [106]:
def my_func(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [107]:
my_func(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [108]:
def myfunc(st):   
    count = 1
    new_st = ''
    for letter in st:
        if(count % 2 == 0):
            new_st = new_st + letter.upper()
        else:
            new_st = new_st + letter
        count = count + 1
    return new_st

In [109]:
myfunc('Anthropomorphism')

'ANtHrOpOmOrPhIsM'

MAP FUNCTIONS

In [110]:
def square(nums):
    return nums**2

my_nums = [1,2,3,4,5]
for item in map(square,my_nums):
    print (item)
    
list(map(square,my_nums))

1
4
9
16
25

[1, 4, 9, 16, 25]

In [111]:
def splicer(myString):
    if len(myString) % 2 == 0:
        return 'EVEN'
    else:
        return myString[0]
    
names = ['Andy','Eve','Sally']
list(map(splicer,names))

['EVEN', 'E', 'S']

FILTER FUNCTIONS

In [112]:
def check_even(num):
    return num%2 == 0

myNums = [1,2,3,4,5,6]

for n in filter(check_even,myNums):
    print(n)

list(filter(check_even,myNums))

2
4
6

[2, 4, 6]

LAMBDA EXPRESSIONS

In [113]:
square = lambda num: num ** 2

square(3)

9

In [114]:
list(map(lambda num: num ** 2,myNums))

[1, 4, 9, 16, 25, 36]

In [115]:
list(filter(lambda num: num % 2 == 0,myNums))

[2, 4, 6]

In [116]:
list(map(lambda x: x[::-1], names))

['ydnA', 'evE', 'yllaS']

NESTED STATEMENTS AND SCOPE (LEGB rule)

In [117]:
#GLOBAL
name = 'GLOBAL'

def greet():
    #ENCLOSING 
    name = 'Sammy'
    def hello():
        #LOCAL
        name = 'LOCAL'
        print('Hello '+name)
    
    hello()

greet()

Hello LOCAL

In [118]:
x = 50
def func(x):
    print(f'X is {x}')
    #LOCAL REASSIGNMENT
    x = 200
    print(f'I JUST LOCALLY CHANGED X to {x}')

func(x)

X is 50
I JUST LOCALLY CHANGED X to 200

In [119]:
x = 50
def func():
    global x
    print(f'X is {x}')
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x = 'NEW VALUE'
    print(f'I JUST GLOBALLY CHANGED X to {x}')

print(x)
func()
print(x)

50
X is 50
I JUST GLOBALLY CHANGED X to NEW VALUE
NEW VALUE

In [120]:
#BEST WAY TO DO THIS WITHOUT ERRORS
x = 50
def func(x):
    print(f'X is {x}')
    #LOCAL REASSIGNMENT
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}')
    return x

x = func(x)
x

X is 50
I JUST LOCALLY CHANGED X to NEW VALUE

'NEW VALUE'

OBJECT ORIENTED PROGRAMMING

In [121]:
class Dog():
    
    #CLASS OBJECT ATTRIBUTE (SAME FOR ANY INSTANCE)
    species = 'mammal'
    
    def __init__(self, breed, name, spots):
      
      self.breed = breed
      self.name = name
      
      #Expect boolean
      self.spots = spots
      
    def bark(self,number):
        print(f'WOOF! My name is {self.name} and the number is {number}')

In [122]:
my_dog = Dog('Labrador', 'Sammy', False)
my_dog = Dog(breed= 'Labrador', name= 'Sammy', spots= False)

In [123]:
my_dog.species

'mammal'

In [124]:
my_dog.bark(121)

WOOF! My name is Sammy and the number is 121

In [125]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius= 1):
      self.radius = radius
      self.area = self.radius * self.radius * Circle.pi
      
    def circumference(self):
        return 2 * Circle.pi * self.radius

In [126]:
my_circle = Circle(10)

In [127]:
my_circle.pi

3.14

In [128]:
my_circle.radius

10

In [129]:
my_circle.area

314.0

In [130]:
my_circle.circumference()

62.800000000000004

In [131]:
class Animal():
    
    def __init__(self):
      print ('ANIMAL CREATED!')
      
    def who_am_i(self):
        print('I am an animal')
        
    def eat(self):
        print("I am eating")

In [132]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("DOG CREATED")
    
    def who_am_i(self):
        print("I am a dog")
        
    def bark(self):
        print("WOOF!")

In [133]:
my_dog = Dog()

ANIMAL CREATED!
DOG CREATED

In [134]:
my_dog.eat()

I am eating

In [135]:
my_dog.who_am_i()

I am a dog

In [136]:
my_dog.bark()

WOOF!

In [28]:
class Book():
    
    def __init__(self, title, author, pages):
      self.title = title
      self.author = author
      self.pages = pages
      
    def __str__(self):
        return f"'{self.title}' by '{self.author}'"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("A book has been deleted")

In [29]:
b = Book("Python Rocks", "Max", 200)
print(b)

'Python Rocks' by 'Max'

In [30]:
len(b)

200

In [31]:
del(b)

A book has been deleted

In [33]:
b

NameError: name 'b' is not defined

Errors and Exception handling

In [142]:
try:
    result = 10+10
except:
    print("Hey it looks like you aren't adding correctly")
else:
    print("Addition went well")
    print(result)

Addition went well
20

In [143]:
try:
    f = open('testfile','r')
    f.write("Write a test line")
except TypeError:
    print('There was a type error!')
except OSError:
    print('There was an OSError')
except:
    print('All other exceptions')
finally:
    print('I always run')

There was an OSError
I always run

In [144]:
def ask_for_int():
    while True:
        try:
            result = int(input("Please provice a number: "))
        except:
            print("That is not a number!")
            continue
        else:
            print("Yes! Thank you")
            break
        finally:
            print("End of try/except/finally\n")

In [145]:
ask_for_int()

Yes! Thank you
End of try/except/finally

WAR (card game) CODE ALONG

In [105]:
import random

suits = ('Hearts', 'Diamond', 'Spades', 'Clubs')
ranks = ('Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace')
values = {'Two':2, 'Three':3, 'Four':4, 'Five':5, 'Six':6, 'Seven':7, 'Eight':8, 'Nine':9, 'Ten':10, 'Jack':11, 'Queen':12,
          'King':13, 'Ace':14}

In [106]:
class Card:
    
    def __init__(self, suit, rank):
      
      self.suit = suit
      self.rank = rank
      self.value = values[rank]
    
    def __str__(self):
      
      return self.rank + " of " + self.suit

In [107]:
class Deck:
    
    def __init__(self):
      
      self.all_cards = []
      
      for suit in suits:
          for rank in ranks:
            
            created_card = Card(suit,rank)
            self.all_cards.append(created_card)
            
    def shuffle(self):
      
      random.shuffle(self.all_cards)
      
    def deal_one(self):
      
      return self.all_cards.pop()

In [108]:
class Player:
    
    def __init__(self, name):
      
      self.name = name
      self.all_cards = []
      
    def remove_one(self):
      
      return self.all_cards.pop(0)
    
    def add_cards(self, new_cards):
      
      if type(new_cards) == type([]):
        self.all_cards.extend(new_cards)
      else:
        self.all_cards.append(new_cards)
    
    def __str__(self):
      
      return f'Player {self.name} has {len(self.all_cards)} cards.'

In [109]:
#GAME SETUP
player_one = Player('One')
player_two = Player('Two')

new_deck = Deck()
new_deck.shuffle()

for x in range(26):
    player_one.add_cards(new_deck.deal_one())
    player_two.add_cards(new_deck.deal_one())


game_on = True
round_num = 0

while game_on:
    round_num += 1
    print(f'Round {round_num}')
    
    if len(player_one.all_cards) == 0:
        print('Player One, out of cards! Player Two Wins!')
        game_on = False
        break
    
    if len(player_two.all_cards) == 0:
        print('Player Two, out of cards! Player One Wins!')
        game_on = False
        break
    
    #START A NEW ROUND
    player_one_cards = []
    player_one_cards.append(player_one.remove_one())
    
    player_two_cards = []
    player_two_cards.append(player_two.remove_one())
    
    at_war = True
    
    while at_war:
        
        if player_one_cards[-1].value > player_two_cards[-1].value:
            
            player_one.add_cards(player_one_cards)
            player_one.add_cards(player_two_cards)
            
            at_war = False
        
        elif player_two_cards[-1].value > player_one_cards[-1].value:
            
            player_two.add_cards(player_two_cards)
            player_two.add_cards(player_one_cards)
            
            at_war = False
            
        else:
            
            print("WAR!")
            
            if len(player_one.all_cards) < 3:
                print("Player One unable to declare WAR")
                print("Player Two WINS!")
                game_on = False
                break
            
            elif len(player_two.all_cards) < 3:
                print("Player Two unable to declare WAR")
                print("Player One WINS!")
                game_on = False
                break
            
            else:
                for num in range(3):
                    player_one_cards.append(player_one.remove_one())
                    player_two_cards.append(player_two.remove_one())

Round 1
Round 2
Round 3
Round 4
Round 5
Round 6
Round 7
Round 8
Round 9
Round 10
Round 11
Round 12
Round 13
Round 14
Round 15
Round 16
WAR!
Round 17
Round 18
Round 19
Round 20
Round 21
Round 22
Round 23
Round 24
Round 25
Round 26
WAR!
Round 27
Round 28
Round 29
Round 30
Round 31
Round 32
Round 33
Round 34
Round 35
Round 36
Round 37
Round 38
Round 39
Round 40
Round 41
Round 42
Round 43
Round 44
Round 45
Round 46
Round 47
Round 48
Round 49
Round 50
Round 51
Round 52
WAR!
Round 53
Round 54
Round 55
Round 56
Round 57
Round 58
Round 59
Round 60
Round 61
Round 62
Round 63
Round 64
Round 65
Round 66
Round 67
Round 68
Round 69
Round 70
Round 71
Round 72
Round 73
Round 74
Round 75
Round 76
Round 77
Round 78
Round 79
Round 80
Round 81
Round 82
Round 83
Round 84
Round 85
Round 86
Round 87
Round 88
Round 89
Round 90
Round 91
Round 92
Round 93
WAR!
Round 94
WAR!
Round 95
Round 96
Round 97
Round 98
Round 99
Round 100
Round 101
Round 102
Round 103
Round 104
Round 105
Round 106
Round 107
Round 108
Round 109
Round 110
Round 111
Round 112
Round 113
Round 114
Round 115
WAR!
Round 116
Round 117
Round 118
Round 119
Round 120
Round 121
Round 122
Round 123
Round 124
Round 125
Round 126
Round 127
Round 128
Round 129
Round 130
Round 131
Round 132
Round 133
Round 134
Round 135
Round 136
Round 137
WAR!
Round 138
Round 139
Round 140
Round 141
Round 142
Round 143
Round 144
Round 145
Round 146
Round 147
Round 148
WAR!
Round 149
Round 150
WAR!
WAR!
WAR!
Round 151
Round 152
Round 153
Round 154
Round 155
Round 156
Round 157
Round 158
Round 159
Round 160
Round 161
WAR!
Round 162
Round 163
Round 164
WAR!
Round 165
WAR!
Round 166
Round 167
Round 168
Round 169
Round 170
Round 171
Round 172
Round 173
Round 174
Round 175
Round 176
Round 177
Round 178
Round 179
Round 180
Round 181
Round 182
Round 183
Round 184
WAR!
Round 185
WAR!
Round 186
Round 187
WAR!
WAR!
Round 188
Round 189
Round 190
Round 191
Round 192
WAR!
Player One unable to declare WAR
Player Two WINS!

PYTHON DECORATORS

In [2]:
def hello(name='Jose'):
    
    def greet():
        return '\t This is inside the greet() function'
    
    def welcome():
        return "\t This is inside the welcome() function"
    
    if name == 'Jose':
        return greet
    else:
        return welcome

In [3]:
x = hello()

In [5]:
print(x())

	 This is inside the greet() function

In [7]:
def hello():
    return 'Hi Jose!'

def other(func):
    print('Other code would go here')
    print(func())

In [9]:
other(hello)

Other code would go here
Hi Jose!

In [10]:
def new_decorator(func):

    def wrap_func():
        print("Code would be here, before executing the func")

        func()

        print("Code here will execute after the func()")

    return wrap_func

def func_needs_decorator():
    print("This function is in need of a Decorator")

In [11]:
func_needs_decorator()

This function is in need of a Decorator

In [12]:
func_needs_decorator = new_decorator(func_needs_decorator)

In [13]:
func_needs_decorator()

Code would be here, before executing the func
This function is in need of a Decorator
Code here will execute after the func()

In [16]:
@new_decorator
def func_needs_decorator():
    print("This function is in need of a Decorator")

In [15]:
func_needs_decorator()

Code would be here, before executing the func
This function is in need of a Decorator
Code here will execute after the func()

PYTHON GENERATORS

In [18]:
def genfibon(n):
    """
    Generate a fibonnaci sequence up to n
    """
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [19]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [20]:
def simple_gen():
    for x in range(3):
        yield x

In [21]:
g = simple_gen()

In [22]:
print(next(g))

0

In [23]:
print(next(g))

1

In [24]:
print(next(g))

2

In [25]:
print(next(g))

StopIteration:

In [27]:
s = 'hello'

s_iter = iter(s)

In [28]:
next(s_iter)

'h'

In [29]:
next(s_iter)

'e'

PYTHON COLLECTIONS MODULES

In [31]:
from collections import Counter

In [32]:
lst = [1,2,2,2,2,3,3,3,1,2,1,12,3,2,32,1,21,1,223,1]

Counter(lst)

Counter({1: 6, 2: 6, 3: 4, 12: 1, 32: 1, 21: 1, 223: 1})

In [33]:
Counter('aabsbsbsbhshhbbsbs')

Counter({'a': 2, 'b': 7, 's': 6, 'h': 3})

In [35]:
s = 'How many times does each word show up in this sentence word times each each word'

words = s.split()

Counter(words)

Counter({'How': 1,
         'many': 1,
         'times': 2,
         'does': 1,
         'each': 3,
         'word': 3,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1})

In [36]:
c = Counter(words)

c.most_common(2)

[('each', 3), ('word', 3)]

    sum(c.values())                 # total of all counts
    c.clear()                       # reset all counts
    list(c)                         # list unique elements
    set(c)                          # convert to a set
    dict(c)                         # convert to a regular dictionary
    c.items()                       # convert to a list of (elem, cnt) pairs
    Counter(dict(list_of_pairs))    # convert from a list of (elem, cnt) pairs
    c.most_common()[:-n-1:-1]       # n least common elements
    c += Counter()                  # remove zero and negative counts

In [37]:
from collections import defaultdict

In [39]:
d = {}
d = defaultdict(lambda: 0)
d['one']

0

In [40]:
from collections import namedtuple

In [41]:
Dog = namedtuple('Dog',['age','breed','name'])

sam = Dog(age=2,breed='Lab',name='Sammy')

frank = Dog(age=2,breed='Shepard',name="Frankie")

In [42]:
sam

Dog(age=2, breed='Lab', name='Sammy')

In [43]:
sam.age

2

In [44]:
sam.breed

'Lab'

In [45]:
sam[0]

2

Python OS Module

In [1]:
f = open('practice.txt','w+')
f.write('This is a test string')
f.close()

In [2]:
import os

In [3]:
os.getcwd()

'c:\\Python Shenanigans\\.vscode\\Udemy Course Work'

In [4]:
os.listdir()

['00-Objects and Data Structures Assessment Test.ipynb',
 '01-Statements Assessment Test.ipynb',
 '02-Guessing Game Challenge.ipynb',
 '03-Function Practice Exercises.ipynb',
 '04-Functions and Methods Homework.ipynb',
 '05-Milestone Project 1.ipynb',
 '06-Object Oriented Programming Homework.ipynb',
 '07-OOP Challenge.ipynb',
 '08-Errors and Exceptions Homework.ipynb',
 '09-Milestone Project 2 - Assignment.ipynb',
 '10-Iterators and Generators Homework.ipynb',
 'MyMainPackage',
 'myprogram.py',
 'mypylintexamples.py',
 'myunittestexamples.py',
 'Notebook.ipynb',
 'practice.txt']

In [5]:
import shutil

In [14]:
shutil.move('c:\\Python Shenanigans\\practice.txt',os.getcwd())

'c:\\Python Shenanigans\\.vscode\\Udemy Course Work\\practice.txt'

In [10]:
os.listdir('c:\\Python Shenanigans')

['.pytest_cache',
 '.vscode',
 'Complete-Python-3-Bootcamp-master',
 'practice.txt',
 'Python-Cheat-Sheet.pdf']

In [18]:
import send2trash
send2trash.send2trash('practice.txt')

PYTHON DATETIME MODULE

In [49]:
import datetime

In [50]:
t = datetime.time(4, 20, 1, 20)

print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

04:20:01.000020
hour  : 4
minute: 20
second: 1
microsecond: 20
tzinfo: None

In [51]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [53]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2023-03-12
ctime: Sun Mar 12 00:00:00 2023
tuple: time.struct_time(tm_year=2023, tm_mon=3, tm_mday=12, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=71, tm_isdst=-1)
ordinal: 738591
Year : 2023
Month: 3
Day  : 12

In [54]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [55]:
mydatetime = datetime.datetime(2022,1,21,7,3,30,400)
print(mydatetime)

2022-01-21 07:03:30.000400

In [56]:
mydatetime = mydatetime.replace(year=2023)
print(mydatetime)

2023-01-21 07:03:30.000400

In [59]:
d1 = datetime.date(2015,3,11)
print('d1:', d1)

d2 = d1.replace(year=1990)
print('d2:', d2)

d1: 2015-03-11
d2: 1990-03-11

In [60]:
d1-d2

datetime.timedelta(days=9131)

In [64]:
d1 = datetime.datetime(2023,1,21,3,22,0)
d2 = datetime.datetime(2022,1,21,3,12,0) 
result = d1-d2

In [66]:
result.seconds

600

In [68]:
result.total_seconds()

31536600.0

PYTHON MATH MODULE

In [12]:
import math
value = 4.35

In [13]:
math.floor(value)

4

In [14]:
math.ceil(value)

5

In [15]:
round(4.5)

4

In [16]:
round(5.5)

6

In [28]:
from math import pi
pi

3.141592653589793

In [18]:
math.e

2.718281828459045

In [19]:
math.inf

inf

In [21]:
math.log(math.e)

1.0

In [23]:
math.log(100,10)

2.0

In [25]:
math.sin(10)

-0.5440211108893698

In [29]:
math.degrees(pi/2)

90.0

In [31]:
math.radians(180)

3.141592653589793

PYTHON RANDOM MODULE

In [33]:
import random

In [34]:
random.randint(0,100)

75

In [51]:
random.seed(42)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

81
14
3
94
35

In [52]:
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

In [56]:
mylist = list(range(0,20))

In [59]:
random.choice(mylist)

6

In [60]:
#SAMPLE with Replacement

In [62]:
random.choices(population=mylist,k=10)

[3, 15, 4, 15, 8, 1, 9, 4, 13, 12]

In [63]:
#SAMPLE without Replacement

In [64]:
random.sample(population=mylist,k=10)

[10, 8, 12, 17, 7, 6, 1, 14, 11, 19]

In [65]:
random.shuffle(mylist)

In [66]:
mylist

[8, 10, 16, 7, 1, 15, 9, 2, 4, 19, 11, 17, 18, 12, 5, 3, 6, 14, 0, 13]

In [67]:
random.uniform(a=0,b=100)

40.46746766929902

In [69]:
random.gauss(mu=0,sigma=1)

-0.10733768794871375

In [ ]:
#NUMPY

PYTHON DEBUGGER

In [70]:
import pdb

In [71]:
x = [1,2,3]
y = 2
z = 3

result_one = y + z

pdb.set_trace()

result_two = y + x

--Return--
None
> c:\users\gamer\appdata\local\temp\ipykernel_7272\1912475531.py(7)<module>()

[1, 2, 3]
5
2
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

BdbQuit:

PYTHON REGULAR EXPRESSIONS

In [72]:
text = "The agent's phone number is 408-555-1234. Call soon!"

In [73]:
'phone' in text

True

In [74]:
import re

In [81]:
pattern = 'phone'

In [84]:
match = re.search(pattern,text)
re.search(pattern,text)

In [77]:
pattern = 'NOT'

In [78]:
re.search(pattern,text)

In [85]:
match.span()

(12, 17)

In [86]:
match.start()

12

In [90]:
match.group()

'phone'

In [87]:
text = 'my phone once, my phone twice'

In [88]:
matches = re.findall('phone',text)
matches

['phone', 'phone']

In [89]:
for match in re.finditer('phone',text):
    print(match)

<re.Match object; span=(3, 8), match='phone'>
<re.Match object; span=(18, 23), match='phone'>

In [102]:
text = 'My phone number is 408-555-1234'

In [103]:
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [104]:
phone

In [105]:
phone.group()

'408-555-1234'

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

In [106]:
phone = re.search(r'\d{3}-\d{3}-\d{4}',text)

In [107]:
phone

In [108]:
phone_pattern = re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [109]:
results = re.search(phone_pattern,text)

In [110]:
results.group()

'408-555-1234'

In [111]:
results.group(1)

'408'

In [112]:
results.group(4)

IndexError: no such group

In [113]:
re.search(r"man|woman","This man was here.")

In [114]:
re.findall(r".at","The cat in the hat sat here.")

['cat', 'hat', 'sat']

In [115]:
re.findall(r"...at","The bat went splat")

['e bat', 'splat']

In [116]:
re.findall(r'\d$','This ends with a number 2')

['2']

In [117]:
re.findall(r'^\d','1 is the loneliest number.')

['1']

In [118]:
phrase = "there are 3 numbers 34 inside 5 this sentence."

In [120]:
re.findall(r'[^\d]+',phrase)

['there are ', ' numbers ', ' inside ', ' this sentence.']

In [121]:
test_phrase = 'This is a string! But it has punctuation. How can we remove it?'

In [122]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [124]:
clean = ' '.join(re.findall('[^!.? ]+',test_phrase))

In [125]:
clean

'This is a string But it has punctuation How can we remove it'

In [126]:
text = 'Only find the hypen-words in this sentence. But you do not know how long-ish they are'

In [127]:
re.findall(r'[\w]+-[\w]+',text)

['hypen-words', 'long-ish']

In [129]:
text = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [130]:
re.search(r'cat(fish|nap|claw)',text)

In [131]:
re.search(r'cat(fish|nap|claw)',textthree)

CHECKING TIME FOR CODE

In [132]:
def func_one(n):
    return [str(num) for num in range(n)]

In [133]:
def func_two(n):
    return list(map(str,range(n)))

In [134]:
import time 

# STEP 1: Get start time
start_time = time.time()
# Step 2: Run your code you want to time
result = func_one(1000000)
# Step 3: Calculate total time elapsed
end_time = time.time() - start_time

print(end_time)

0.1919999122619629

In [135]:
# STEP 1: Get start time
start_time = time.time()
# Step 2: Run your code you want to time
result = func_two(1000000)
# Step 3: Calculate total time elapsed
end_time = time.time() - start_time

print(end_time)

0.1530132293701172

In [136]:
import timeit

In [137]:
setup = '''
def func_one(n):
    return [str(num) for num in range(n)]
'''

In [138]:
stmt = 'func_one(100)'

In [139]:
timeit.timeit(stmt,setup,number=100000)

1.2775956000004953

In [140]:
setup2 = '''
def func_two(n):
    return list(map(str,range(n)))
'''

In [141]:
stmt2 = 'func_two(100)'

In [142]:
timeit.timeit(stmt2,setup2,number=100000)

1.1669646000000284

In [145]:
%%timeit
#^must be at top
func_one(100)

#JUPYTER EXCLUSIVE

11.8 µs ± 115 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

THE END